<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h3 class="footer-heading">Daniel Anderson</h3>
        <div class="social-links-compact">
          <p><strong>Follow my career:</strong> <a href="https://www.linkedin.com/in/danderson005" target="_blank">LinkedIn</a></p>
          <p><strong>Follow my training:</strong> <a href="https://www.strava.com/athletes/27011527" target="_blank">Strava</a> | <a href="https://www.grcrunning.com/daniel-anderson/" target="_blank">GRC</a></p>
          <p><strong>Follow my socials:</strong> <a href="https://www.instagram.com/danieltanderson" target="_blank">Instagram</a></p>
          <p><strong>Follow my projects:</strong> <a href="https://github.com/dtand" target="_blank">GitHub</a></p>
        </div>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
      </div>
    </div>
  </div>

</footer>
